<h3>Items</h3>
<p><a href="{% url 'cart' %}">View Cart</a></p>
<table>
    <thead>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.sku}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td><a href="{% url 'item' item.id %}">View</a></td>
            <td><a href="{% url 'add_item' item.id %}">Add to Cart</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>